@use "../vars";

:root {
  --color-theme-bg: #{vars.$theme-bgColor};
  --color-theme-fg: #{vars.$theme-fgColor};
  --color-border-moderate: #{vars.$border-moderateColor};
}

body {
  font-family: vars.$font-mainFamily;
  font-size: vars.$font-mainSize;
  min-width: vars.$layout-min-width;
}

.ui-container {
  margin-left: auto;
  margin-right: auto;
  max-width: vars.$layout-max-width;
  padding-left: vars.$space-base;
  padding-right: vars.$space-base;
}
