@use "../vars";

body {
  margin: 0;
}

.layout-Header {
  background-color: var(--color-theme-bg);
  color: var(--color-theme-fg);
  line-height: 1.4em;
  margin-bottom: vars.$space-base;
  position: relative;
  z-index: 1; // to lay over .layout-TopLine

  a {
    color: inherit;
  }

  h1.layout-Header-siteTitle {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
  }
}

.layout-TopLine {
  background-color: var(--color-theme-bg);
  height: 6px;
  left: 0;
  position: fixed;
  top: -1px; // consider sub pixel
  width: 100%;
  z-index: 1;
}

.layout-Footer {
  border-top: dashed 1px var(--color-border-moderate);
  margin-top: 3rem;
  padding-bottom: 5rem;
  padding-top: 1rem;
}
