:root {
  --color-theme-bg: #036;
  --color-theme-fg: #fff;
  --color-border-moderate: #ccc;
}

body {
  font-family: 'Segoe UI',SegoeUI,'Yu Gothic UI','Meiryo UI',sans-serif;
  min-width: 320px;
}

.ui-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-left: 1rem;
  padding-right: 1rem;
}
